
* {
    font-family: 'Poppins', sans-serif;
  }
  
  :root {
    --escuro: #1A1A40;
    --medio: #373783;
    --claro: #8758ff;
    --branco: #ffffff;
  }


  body {
    background: var(--branco);
  }
  

  

  
